---
layout: home
title: mekuate.com
---


	<div class="container about">
	  <div class="avatar">
		<img class="img-circle" src="{{ site.baseurl }}assets/img/{{ site.avatar }}" alt="Responsive image">
	  </div>
	  <p>Hi, I'm <strong>{{ site.author }}</strong>, a Software Engineer.</p>
	  <p>I love all things computer science and maths.</p>
	  <p>Have a look at some of my working <a href="{{ site.baseurl }}/projects/"> projects</a>.</p>
	  <p>For more check out my academic &amp; professional <a href="{{ site.baseurl }}/resume">Resume</a>.</p>
	  <p>Contact me at <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a> or by <a href="mailto:{{ site.email }}">email</a>.</p>
	
	  {% include social.html %}
	  {% include disqus.html %}
	</div>
