---

layout: default
title: Project List - mekuate.com
permalink: /projects/
---
<div class="container-fluid">

<h1 class="row page_title"> Projects List </h1>
</div>
<div class="container blog-content">
		<ul>
        {% for post in site.projects %}
       	
        	<li>
            	<a href="{{post.url}}"><h4 class="title" itemprop="name">{{ post.title }}</a>
                	| <i> 
            	 {% if post.categories.size > 0 %}
         			  {{ post.categories | join: ', ' }}
        		{% endif %}
            	</i></h4>
            </li>	
       	
         
  		{% endfor %}
  		</ul>
</div>
