---
title: Project List - mekuate.com
permalink: "/projects/"
layout: default
---

<div class="container blog-content">

<h1 class="page_title"> Projects </h1>
		<ul>
        {% for post in site.projects %}
       		
       		 <div class="row">
        	<div class="col-md-6 img-blog">
        		<img src="{{site.url}}/assets/img/{{post.image}}" itemprop="image">
        	</div>
        	<div class="col-md-6">
         		<span class="date" itemprop="tag">
         		{% if post.categories.size > 0 %}
         			  {{ post.categories | join: ', ' }}
        		{% endif %}
         		</span>
            	<a href="{{post.url}}"><h2 class="title" itemprop="name">{{ post.title }}</h2></a>
            	<a href="{{post.url}}"><span class="btn btn-md btn-primary">Read</span></a>
       	 	</div>
       	 </div>	
       	
         
  		{% endfor %}
  		</ul>
</div>
