 

           
                      
                     <div class="col-md-8" id="box" name="contact">
                                <form class="form-horizontal" action=" https://formspree.io/giselemekuate@gmail.com" method="post" id="contact_form">
                                        <!-- Form Name -->


                                        <!-- Text input-->

                                        <div class="form-group">

                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input name="first_name" placeholder="Name" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>


                                  
                                        <!-- Text input-->
                                        <div class="form-group">

                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                    <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Text input-->

                                        <div class="form-group">

                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                                    <input name="phone" placeholder="Mobile No" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Selection Box --!>
                                        <div class="form-group">

                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
                                                     <select class="form-control" id="subject" name="subject">
                   										 <option selected value="na">
                      														  Choose One:
                  													  </option>
    
                   												 <option value="website development">
                      															  Website Development
                   												 </option>
    																<option value="Mobile App Development">
                      													  Mobile App Development
                    											</option>
                  											  <option value="data management">
                      													  Data Management
                    											</option>
    
                    									<option value="suggestions">
                       											 Suggestions
                   										 </option>
                										</select>
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <!-- Text input-->

                                        <div class="form-group">

                                            <div class="col-md-12 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                    <textarea class="form-control input-xlarge span5" name="message" placeholder="Your Message" rows = "4"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-warning pull-right">Send Your Message <span class="glyphicon glyphicon-send"></span></button>
                                            </div>
                                        </div>

                                
                                </form> 
