<form class="form-horizontal">
<fieldset>
<!-- Form Name -->


<!-- Text input-->
<div class="form-group">
  
  <div class="col-lg-8">
  <input id="textinput" name="textinput" type="text" placeholder="Votre Nom" class="form-control input-lg" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  
  <div class="col-lg-8">
  <input id="textinput" name="textinput" type="text" placeholder="Votre email" class="form-control input-lg" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
   
  <div class="col-lg-8">
  <input id="textinput" name="textinput" type="text" placeholder="titre de l'opportunité" class="form-control input-lg" required="">
    
  </div>
</div>

<!-- Prepended text-->
<div class="form-group">
  
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">http://</span>
      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Site web de l'opportunité" type="text">
    </div>
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  
  <div class="col-lg-4">                     
    <textarea class="form-control" id="textarea" name="textarea"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-lg-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary btn-lg">Partagez</button>
  </div>
</div>

</fieldset>
</form>