---

---
$white_color:#ffffff;
$menu_color:#6b6b6b;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base:18px;
$h3-color: violet;

@import "bootstrap";

.about {
  width: auto;
  max-width: 800px;
  text-align: center;
}
h3{
color:$h3-color;
}

h4{
color: $brand-primary;
}

.social {
  padding-top: 12px;
  word-spacing: 15px;
}
.social h4 > a {
  color: #000000;
}
.avatar {
  padding-top: 5%;
}
/* Blog styling
*/
.row{
padding-bottom: 20px;
}

.date{
font-weight: bold;
}
.resume-projects {
	height:150px;
	background-color:$gray;
	padding-top: 50px;
	color:$white_color;
	button, a {
		margin-top: 20px;
	
	}
}
.resume-contact{
	height:150px;
	background-color:$gray;
	margin-top: 25px;
	color:$white_color;
	button, a {
		margin-top: 20px;
	
	}
}
.title_resume{
	padding-top: 3em;
	font-weight: bold;
	font-size: 76px;
}
.blog-header{
height: 35em;
color: $white_color;
	 span,i{
		color: $white_color;}
		h1 {
    line-height: 1.2;
  }
  .blog-header-title{
  	padding-top:20em;
  }
}
.blog-content{
padding-top:20px;
width: 90%;
  max-width: 767px;
  margin: 0 auto;
  @media (min-width: 767px) {
    width: 55%;
  }
}

.card_profile {
	margin-top:50px;
	margin-bottom:50px;
	
}
div#viz1480322194514 .tableauPlaceholder{
overflow: visible;
padding-left:0px;
padding-right:0px;


}
.nav--white i, .nav--white span{
padding-top: 50px;
margin-left: 20px;
text-transform: uppercase;
}

/* card profile 
-------------------------*/

.card_profile{
position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white

}
.img-blog img{
	height: 300px;
	width:100%;
}

/* Navbar
-------------------------------------------------- */

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: $white_color;
  border-color: $white_color;

}
.navbar-default .navbar-brand {
  color: $menu_color;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $menu_color;

}
.navbar-default .navbar-text {
  color: $menu_color;
}
.navbar-default .navbar-nav > li > a {
  color: $menu_color;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $menu_color;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $menu_color;
  background-color: $white_color;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: $menu_color;
  background-color: $white_color;
}
.navbar-default .navbar-toggle {
  border-color: $white_color;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $white_color;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $menu_color;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: $menu_color;
}
.navbar-default .navbar-link {
  color: $menu_color;
}
.navbar-default .navbar-link:hover {
  color: $menu_color;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $menu_color;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $menu_color;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $menu_color;
    background-color: $white_color;
  }
}



