---

---
$white_color:#ffffff;
$menu_color:#6b6b6b;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base:18px;
$h3-color: #B768A2;

@import "bootstrap";

P, a, li, ul {
font-size: 20px;
}
.about {
  width: auto;
  max-width: 800px;
  text-align: center;
   
}
.blog_title{
color:$h3-color;
font-weight: bold;
}
.site-title{
letter-spacing:1em;
color:$h3-color;
font-weight: bold;
border-bottom:solid 0.5em $h3-color;
}
h4{
color: $brand-primary;
}
.title_resume{
	height:20em;
	background: $h3-color no-repeat center fixed;
	margin-bottom:50px;
	.companyname{
		padding-top:2em;
		font-size:50px;
		color:#ffffff;
		font-weight:bold;
}
}
.container , .container-fluid{
margin-bottom: 100px;
margin-top:100px;
}
.social {
  padding-top: 12px;
  word-spacing: 15px;
}
.social h4 > a {
  color: #000000;
}
.avatar {
  padding-top: 5px;
}
/* Blog styling
*/
.row{
margin-bottom: 100px;
}

.resume-projects {
	height:150px;
	background-color: $h3-color;
	padding-top: 30px;
	color:$white_color;
	button, a {
		margin-top: 20px;
	
	}
}
.resume-contact{
	height:150px;
	background-color: $h3-color;
	margin-top: 20px;
	color:$white_color;
	
	button, a {
		margin-top: 10px;
	
	}
}

.blog-header{
height: 35em;
}
 .header-title{
  	text-align: center;
 	font-weight: bold;
 	.tag_blog{
 		font-style: italic;
 		font-size:18px;
 	}
  	
  }
  .page_title{
	color:black;
 	font-weight: bold;
 	text-align: center;
 	margin-bottom: 100px;
 	text-transform: uppercase;
  }
.blog-content{
margin-top:20px;
margin-bottom: 50px;
width: 90%;
  max-width: 967px;
  margin: 0 auto;
  @media (min-width: 767px) {
    width: 65%;
  }
}

.card_profile {
	margin-top:50px;
	margin-bottom:50px;
	
}
.project-category{

}
div#viz1480322194514 .tableauPlaceholder{
overflow: visible;
padding-left:0px;
padding-right:0px;


}
.nav--white i, .nav--white span{
padding-top: 50px;
margin-left: 20px;
text-transform: uppercase;
}

/* card profile 
-------------------------*/

.card_profile{
position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white

}
.img-blog img{
	height: 300px;
	width:100%;
}

/* Navbar
-------------------------------------------------- */
.navbar{
	margin-bottom: 5em;
	margin-top: 2em;
	.container{
	margin-bottom: 0px;
	margin-top:0px;
	}
	
}
.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: $white_color;
  border-color: $white_color;

}
.navbar-default .navbar-brand {
  color: $menu_color;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $menu_color;

}
.navbar-default .navbar-text {
  color: $menu_color;
}
.navbar-default .navbar-nav > li > a {
  color: $menu_color;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $menu_color;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $menu_color;
  background-color: $white_color;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: $menu_color;
  background-color: $white_color;
}
.navbar-default .navbar-toggle {
  border-color: $white_color;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $white_color;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $menu_color;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: $menu_color;
}
.navbar-default .navbar-link {
  color: $menu_color;
}
.navbar-default .navbar-link:hover {
  color: $menu_color;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $menu_color;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $menu_color;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $menu_color;
    background-color: $white_color;
  }
}

/* -------- algolia search CSS-------------
 ------------------------------------------------------ */

/* Search form */
.algolia__form {
  margin-bottom: 1rem;
}
 
.algolia__input {
  font-size: 20px;
  padding:.25rem .5rem .10rem;
  width: 300px;
  height: 40px;
  color: black;
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 5px;
  
}
 
/* Search results */
 
.algolia__initial-content {
  display:block;
}
.algolia__initial-content--hidden {
  display:none;
}
.algolia__search-content {
  display:none;
}
.algolia__search-content--active {
  display:block;
}
 
.algolia__result-link {
  font-size: 2.25rem;
  font-weight:bold;
  color: $h3-color;
  text-decoration: underline;
}
.algolia__result-date {
  font-size:1.0rem;
  font-style:italic;
}
.algolia__result-text {
margin-bottom: 30px;
}
.algolia__result-highlight {
  background: yellow;
  color:inherit;
}



