<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
   {% include head.html %}
 <body>
  {% include header.html %}

 
         <div class="content">
   <div class="algolia__initial-content js-algolia__initial-content">
   
   {{ content }}
   </div>
 
   <div class="algolia__search-content js-algolia__search-content blog-content">
     <h1 class="page_title">Search</h1>
      
     <div class="posts algolia__results"></div>
   </div>
 </div>
         {% include footer.html %}

  </body>

</html>