---

---

 {% include head.html %}
  {% include header.html %}
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    
    <a class="nav nav--white" href="{{ site.baseurl }}/blog/">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>Back to Posts</span>
      
    </a>
    
  </header>
   <div class="container blog-content">
     
      <h1 itemprop="name headline" class="blog_title">{{ page.title }}</h1>
     <div class="tag_blog">
      {% if page.categories.size > 0 %}
        <span class="fa fa-sm fa-database">&nbsp;
          Posted in {{ page.categories | join: ', ' }} &nbsp; &nbsp;
        </span>
      {% endif %}
       <span class="fa fa-calendar"> &nbsp; <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
      &nbsp;  &nbsp; <span class="fa fa-language"> &nbsp;written in {{page.language}}</span>
    </div><hr>
	</div>
  <section class="container blog-content" itemprop="articleBody">
    {{ content }}
  </section>
    
	{% include card_profile.html %}
	  {% include disqus.html %}

</article>




