---

---

 {% include head.html %}
  {% include header.html %}
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

  <header style="background: url('{{site.url}}/assets/img/{{page.image}}') no-repeat center fixed; background-size:cover" class="blog-header">
    
    <a class="nav nav--white" href="{{ site.baseurl }}/blog.html">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>Back to Posts</span>
      
    </a>
    
    <div class="container blog-header-title">
      <span class="date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
      <h1 itemprop="name headline">{{ page.title }}</h1>
      {% if page.categories.size > 0 %}
        <span>
          Posted in {{ page.categories | join: ', ' }}
        </span>
      {% endif %}
      <span></span>
    </div>
  </header>

  <section class="container blog-content" itemprop="articleBody">
    {{ content }}
  </section>
  
	{% include card_profile.html %}
 

</article>




