---
title: {% page.title %} - mekuate.com
---

 {% include head.html %}
  {% include header.html %}
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

  <header style="background: url('{{site.url}}/assets/img/{{page.image}}') no-repeat center fixed; background-size:cover" class="blog-header">
    
    <a class="nav nav--white" href="{{ site.baseurl }}/blog.html">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>Back to Posts</span>
      
    </a>
    
  </header>
   <div class="container header-title">
     
      <h1 itemprop="name headline">{{ page.title }}</h1>
     <div class="tag_blog">
      {% if page.categories.size > 0 %}
        <span class="fa fa-sm fa-database">&nbsp;
          Posted in {{ page.categories | join: ', ' }} &nbsp; &nbsp;
        </span>
      {% endif %}
       <span class="fa fa-calendar"> &nbsp; <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
      &nbsp;  &nbsp; <span class="fa fa-language"> &nbsp;written in {{page.language}}</span>
      &nbsp;  &nbsp; <span class="fa fa-comment"> <a href="{{page.url}}#disqus_thread">Comments</a> </span>
    </div>
	</div>
  <section class="container blog-content" itemprop="articleBody">
    {{ content }}
  </section>
    
	{% include card_profile.html %}
	{% include disqus.html %}

</article>




