---

---

 {% include head.html %}
  {% include header.html %}
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="blog-content">
    
     <h1 itemprop="name headline" class="blog_title">{{ page.title }}</h1>
    	<hr>
      {% if page.categories.size > 0 %}
        <span class="project-category btn btn-md btn-default">
           {{ page.categories | join: ', ' }}
        </span>  &nbsp;  &nbsp; <span class="fa fa-comment"> <a href="{{page.url}}#disqus_thread">Comments</a> </span><br>
      {% endif %}
  </header>
<br>
  <section class="container blog-content" itemprop="articleBody">
  
    {{ content }}
    {% if page.results %}
     <h3> Results </h3>
      {% endif %}
  </section>
  {% if page.results %}
  <div class="container results-projects">
 
  {{page.results}}
  </div>
  {% endif %}
	{% include card_profile.html %}
  {% include disqus.html %}
</article>




