---

layout: default
title: Resume
---
<div class="container-fluid">

<h1 class="row page_title"> My Resume </h1>
</div>
<section id="resume">
	<div class="container">
    <div class="col-md-3">
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="vertical" data-theme="dark" data-vanity="mekuate"><a class="LI-simple-link" href='https://cm.linkedin.com/in/mekuate?trk=profile-badge'>Gisèle Mekuate-Defo</a></div>
      <br><center>
      	<p>  <a href="{{ site.baseurl }}assets/docs/{{site.resume}}"><button class="btn btn-md btn-default"> Download CV </button></a> </p>

    	<p>{% include social.html %}</p>    	</center>
    </div>
    <div class="col-md-9">
        {{ content }}
	</div>
   
	</div>
</section>